<%- include ('partials/header') %>

     <!--Global Container

    Sort Header with Hambuger menu

    Config Profile Edit page
    
    -->
     <div class="flex flex-col">
        <!--Navbar-->
            <nav class="container flex items-center justify-evenly min-w-full mx-auto px-6 border-b">
                <a href="">
                    <img class="h-2 w-2" src="/images/icons/arrow-left-long-solid.svg" alt="">
                </a>
                <h1>The Injury Deadpool</h1>
                <!--Flex for items in NAV-->
                <div class="flex items-center justify-between w-full space-x-20 p-4 my-6 ">
                    <!--'Home' logo-->
                    <div class="flex text-center">
                        <a href="index.html" class="text-2xl px-6 py-4 hover:text-gray-00">Settings</a>
                    </div>
                    <div class="hidden px-4 md:flex md:flex-row font-serif group">
                        <a href="" class="text-2xl text-center px-4 text-gray-400 hover:text-black border-b-2">Edit Profile</a>
                        <a href="" class="text-2xl text-center px-4 text-gray-400 hover:text-black border-b-2">Placeholder</a>
                        <a href="" class="text-2xl px-4 text-center text-gray-400 hover:text-black border-b-2">Placeholder</a>
                        <a href="" class="text-2xl px-4 text-center text-gray-400 hover:text-black border-b-2">Logout</a>
                    </div>
                    <!-- Hamburger button-->
                    <div class="md:hidden">
                        <button class=" z-40 block hamburger md:hidden focus:outline-none" type="button" id="menu-btn">
                        <span class="hamburger-top"></span>
                        <span class="hamburger-middle"></span>
                        <span class="hamburger-bottom"></span>
                        </button>
                    </div>
                </div>
            </nav>
          <!-- todo Mobile Menu-->
            <div id="menu" class="absolute top-0 bottom-0 left-0 flex-col items-center hidden w-full h-full py-1 pt-40 pl-12 space-y-3 text-lg text-white uppercase bg-gray-900 bg-opacity-95">
                <a href="about-me.html" class="hover:text-gray-300">About Me</a>
                <a href="employment-history.html" class="hover:text-gray-300">Employment History</a>
                <a href="portfolio.html" class="hover:text-gray-300">Portfolio</a>
                <a href="contact-me.html" class="hover:text-gray-300">Contact Me</a>
            </div>

    <h1 class="text-6xl">Fuck all here yet</h1>

    <section id="profileInfo">
        <div>
            <div>
                <img src="" alt="">
            </div>
            <div id="profileStats">

                <!--Use flex justify-between ITems Center to space out elements-->
                <!--Add Template for profileStats using EJS
                
                    Stat: recent injury: Date (Use DateTime???)
                    Stat: Points: Number
                    Stat: Next Expected Injust: Date (Use DateTime???)  

                -->
            </div>
        </div>
       
    </section>
    <section id="leagueInfo">
        <!-- Hydrate a Table with database info on recent injuries, winners and recent predictions from other users -->
    </section>
    </body>
<% include ('partials/footer') %>