<%- include ('partials/header') %>
<div class="flex flex-col mx-auto items-center justify-center bg-darkishYellow">
    <div>
        <img src="/images/logos/cover.png" class=" w-full h-full" alt="ID-Logo">
    </div>
    <div>
        <form action="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" id="">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="text" name="username" id="">
            </div>
            
        </form>
    </div>
</div> 

    

    
<% include ('partials/footer') %>